* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


/* Cabeçalho */
#hearder{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hearder img{
    width: 300px;
    margin-top: -65px;
    margin-left: -125px;
}
#hearder h1{
    margin-left: 60px;
    font-size: 50px;
    margin-top: -125px;
}
#hearder a{
    text-decoration: none;
    color: black;
}
.ajuda{
    font-size: 20px;
    margin-top:5px;
    margin-left: 900px;
    text-decoration: none;
}
.chat{
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    margin-left: 500px;
    background: #ffde59;
    border-radius: 25px;
}
.chat-container {
    width: 500px;
    height: 650px;
    background: #ffde59;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #333;
    margin-left: 240px;
    margin-top: 55px;
}

/* Cabeçalho */
.chat-header {
    background: #0d0d0d;
    color: #ffde59;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.prop-foto {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

/* Corpo do chat */
.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #fff;
}

.msg {
    max-width: 75%;
    padding: 10px 14px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 18px;
    animation: fadeIn 0.2s ease;
}

.msg-user {
    align-self: flex-end;
    background: #ffde59;
    color: white;
    font-size: 20px;
    border-bottom-right-radius: 0;
}

.msg-bot {
    align-self: flex-start;
    background: #262626;
    color: #ddd;
    border-bottom-left-radius: 0;
}

/* Rodapé */
.chat-footer {
    display: flex;
    background: #1f1f1f;
    padding: 10px;
    border-top: 1px solid #333;
}

.chat-footer input {
    flex: 1;
    padding: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #2a2a2a;
    color: white;
}

button {
    padding: 0 15px;
    margin-left: 10px;
    background: #075e54;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Animação */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
}
